
bin/Debug/net6.0/Problems.deps.json
bin/Debug/net6.0/Problems.dll
bin/Debug/net6.0/Problems.exe
bin/Debug/net6.0/Problems.pdb
bin/Debug/net6.0/Problems.runtimeconfig.json
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Problems.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/Problems.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Problems.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Problems.dll
obj/Debug/net6.0/Problems.genruntimeconfig.cache
obj/Debug/net6.0/Problems.pdb
obj/Debug/net6.0/ref/Problems.dll
obj/Debug/net6.0/refint/Problems.dll
